
body {
  font-family: 'Piazzolla', serif;
  margin: 0px; 
}
nav   {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

nav a {

  padding: 15px;
  font-size: 20px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  font-family:  'Piazzolla', serif;
  background: #85baa1;
  color: white;
  border: 2px solid #062726;
  border-radius: 10px;
  margin: 10px;
}

header {
  background-color: #85baa1;
  padding: 20px;
  border: 10px solid #062726;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1{
  text-align:center
}

a:link {
  color:black;
}

a:hover {
  color: black;
  background-color: #6e8894;
}
.photo-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

main {

  background-color: #85baa1;
  flex-direction: row;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  align-content: space-around;
  border: 10px solid #062726;

}

.email-button {
  border-radius: 8px;
  transition-duration: 0.4s;
}
.email-button:hover {
  background-color: #e2cfea;
  color: black;
}